.todo-search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f3f4f6; /* gris suave */
  border-radius: 8px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  flex: 1;
}

.todo-search-icon {
  width: 20px;
  height: 20px;
  color: #9ca3af;
}

.todo-search-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: #374151;
}
